

h1{
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    color: white;
    text-align: center;

}

h2{
    border: 1px solid white;
    border-width: 5px;
    border-radius: 3px;
    background: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    color:#11998e;
    font-size: 20px;
    width: 480px;
    
}
h3{
    font-family: 'Mada', sans-serif;
    font-weight: medium;
    color: rgb(49, 49, 49);
}



.parrafo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    color:rgb(61, 61, 59);
    text-align: justify;

} 


.izq{
    
    width:25%;
    height: 1100Px;
    background: #11998e; 
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  
    background: linear-gradient(to right, #38ef7d, #11998e); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;   
    color: white;
    text-align: center;
    margin-left: 10%;
    float: left;
}

.der{
    
    background: rgb(236, 236, 236);
    width: 55%;
    height: 1100px;
    float: left;
    margin-right: 10%;
    
}

#img{
    width:150px;
    height:150px;
    border-radius:160px;
    border:2px solid rgb(255, 253, 253);
    display:block;
    margin: auto;
}

.center{


    margin-left: 7%;
    margin-right: 7%;
    color: rgb(49, 49, 49);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    

}



